<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tilawa</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow your micrphone</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>page-1.ttf</string>
		<string>page-10.ttf</string>
		<string>page-100.ttf</string>
		<string>page-101.ttf</string>
		<string>page-102.ttf</string>
		<string>page-103.ttf</string>
		<string>page-104.ttf</string>
		<string>page-105.ttf</string>
		<string>page-106.ttf</string>
		<string>page-107.ttf</string>
		<string>page-108.ttf</string>
		<string>page-109.ttf</string>
		<string>page-11.ttf</string>
		<string>page-110.ttf</string>
		<string>page-111.ttf</string>
		<string>page-112.ttf</string>
		<string>page-113.ttf</string>
		<string>page-114.ttf</string>
		<string>page-115.ttf</string>
		<string>page-116.ttf</string>
		<string>page-117.ttf</string>
		<string>page-118.ttf</string>
		<string>page-119.ttf</string>
		<string>page-12.ttf</string>
		<string>page-120.ttf</string>
		<string>page-121.ttf</string>
		<string>page-122.ttf</string>
		<string>page-123.ttf</string>
		<string>page-124.ttf</string>
		<string>page-125.ttf</string>
		<string>page-126.ttf</string>
		<string>page-127.ttf</string>
		<string>page-128.ttf</string>
		<string>page-129.ttf</string>
		<string>page-13.ttf</string>
		<string>page-130.ttf</string>
		<string>page-131.ttf</string>
		<string>page-132.ttf</string>
		<string>page-133.ttf</string>
		<string>page-134.ttf</string>
		<string>page-135.ttf</string>
		<string>page-136.ttf</string>
		<string>page-137.ttf</string>
		<string>page-138.ttf</string>
		<string>page-139.ttf</string>
		<string>page-14.ttf</string>
		<string>page-140.ttf</string>
		<string>page-141.ttf</string>
		<string>page-142.ttf</string>
		<string>page-143.ttf</string>
		<string>page-144.ttf</string>
		<string>page-145.ttf</string>
		<string>page-146.ttf</string>
		<string>page-147.ttf</string>
		<string>page-148.ttf</string>
		<string>page-149.ttf</string>
		<string>page-15.ttf</string>
		<string>page-150.ttf</string>
		<string>page-151.ttf</string>
		<string>page-152.ttf</string>
		<string>page-153.ttf</string>
		<string>page-154.ttf</string>
		<string>page-155.ttf</string>
		<string>page-156.ttf</string>
		<string>page-157.ttf</string>
		<string>page-158.ttf</string>
		<string>page-159.ttf</string>
		<string>page-16.ttf</string>
		<string>page-160.ttf</string>
		<string>page-161.ttf</string>
		<string>page-162.ttf</string>
		<string>page-163.ttf</string>
		<string>page-164.ttf</string>
		<string>page-165.ttf</string>
		<string>page-166.ttf</string>
		<string>page-167.ttf</string>
		<string>page-168.ttf</string>
		<string>page-169.ttf</string>
		<string>page-17.ttf</string>
		<string>page-170.ttf</string>
		<string>page-171.ttf</string>
		<string>page-172.ttf</string>
		<string>page-173.ttf</string>
		<string>page-174.ttf</string>
		<string>page-175.ttf</string>
		<string>page-176.ttf</string>
		<string>page-177.ttf</string>
		<string>page-178.ttf</string>
		<string>page-179.ttf</string>
		<string>page-18.ttf</string>
		<string>page-180.ttf</string>
		<string>page-181.ttf</string>
		<string>page-182.ttf</string>
		<string>page-183.ttf</string>
		<string>page-184.ttf</string>
		<string>page-185.ttf</string>
		<string>page-186.ttf</string>
		<string>page-187.ttf</string>
		<string>page-188.ttf</string>
		<string>page-189.ttf</string>
		<string>page-19.ttf</string>
		<string>page-190.ttf</string>
		<string>page-191.ttf</string>
		<string>page-192.ttf</string>
		<string>page-193.ttf</string>
		<string>page-194.ttf</string>
		<string>page-195.ttf</string>
		<string>page-196.ttf</string>
		<string>page-197.ttf</string>
		<string>page-198.ttf</string>
		<string>page-199.ttf</string>
		<string>page-2.ttf</string>
		<string>page-20.ttf</string>
		<string>page-200.ttf</string>
		<string>page-201.ttf</string>
		<string>page-202.ttf</string>
		<string>page-203.ttf</string>
		<string>page-204.ttf</string>
		<string>page-205.ttf</string>
		<string>page-206.ttf</string>
		<string>page-207.ttf</string>
		<string>page-208.ttf</string>
		<string>page-209.ttf</string>
		<string>page-21.ttf</string>
		<string>page-210.ttf</string>
		<string>page-211.ttf</string>
		<string>page-212.ttf</string>
		<string>page-213.ttf</string>
		<string>page-214.ttf</string>
		<string>page-215.ttf</string>
		<string>page-216.ttf</string>
		<string>page-217.ttf</string>
		<string>page-218.ttf</string>
		<string>page-219.ttf</string>
		<string>page-22.ttf</string>
		<string>page-220.ttf</string>
		<string>page-221.ttf</string>
		<string>page-222.ttf</string>
		<string>page-223.ttf</string>
		<string>page-224.ttf</string>
		<string>page-225.ttf</string>
		<string>page-226.ttf</string>
		<string>page-227.ttf</string>
		<string>page-228.ttf</string>
		<string>page-229.ttf</string>
		<string>page-23.ttf</string>
		<string>page-230.ttf</string>
		<string>page-231.ttf</string>
		<string>page-232.ttf</string>
		<string>page-233.ttf</string>
		<string>page-234.ttf</string>
		<string>page-235.ttf</string>
		<string>page-236.ttf</string>
		<string>page-237.ttf</string>
		<string>page-238.ttf</string>
		<string>page-239.ttf</string>
		<string>page-24.ttf</string>
		<string>page-240.ttf</string>
		<string>page-241.ttf</string>
		<string>page-242.ttf</string>
		<string>page-243.ttf</string>
		<string>page-244.ttf</string>
		<string>page-245.ttf</string>
		<string>page-246.ttf</string>
		<string>page-247.ttf</string>
		<string>page-248.ttf</string>
		<string>page-249.ttf</string>
		<string>page-25.ttf</string>
		<string>page-250.ttf</string>
		<string>page-251.ttf</string>
		<string>page-252.ttf</string>
		<string>page-253.ttf</string>
		<string>page-254.ttf</string>
		<string>page-255.ttf</string>
		<string>page-256.ttf</string>
		<string>page-257.ttf</string>
		<string>page-258.ttf</string>
		<string>page-259.ttf</string>
		<string>page-26.ttf</string>
		<string>page-260.ttf</string>
		<string>page-261.ttf</string>
		<string>page-262.ttf</string>
		<string>page-263.ttf</string>
		<string>page-264.ttf</string>
		<string>page-265.ttf</string>
		<string>page-266.ttf</string>
		<string>page-267.ttf</string>
		<string>page-268.ttf</string>
		<string>page-269.ttf</string>
		<string>page-27.ttf</string>
		<string>page-270.ttf</string>
		<string>page-271.ttf</string>
		<string>page-272.ttf</string>
		<string>page-273.ttf</string>
		<string>page-274.ttf</string>
		<string>page-275.ttf</string>
		<string>page-276.ttf</string>
		<string>page-277.ttf</string>
		<string>page-278.ttf</string>
		<string>page-279.ttf</string>
		<string>page-28.ttf</string>
		<string>page-280.ttf</string>
		<string>page-281.ttf</string>
		<string>page-282.ttf</string>
		<string>page-283.ttf</string>
		<string>page-284.ttf</string>
		<string>page-285.ttf</string>
		<string>page-286.ttf</string>
		<string>page-287.ttf</string>
		<string>page-288.ttf</string>
		<string>page-289.ttf</string>
		<string>page-29.ttf</string>
		<string>page-290.ttf</string>
		<string>page-291.ttf</string>
		<string>page-292.ttf</string>
		<string>page-293.ttf</string>
		<string>page-294.ttf</string>
		<string>page-295.ttf</string>
		<string>page-296.ttf</string>
		<string>page-297.ttf</string>
		<string>page-298.ttf</string>
		<string>page-299.ttf</string>
		<string>page-3.ttf</string>
		<string>page-30.ttf</string>
		<string>page-300.ttf</string>
		<string>page-301.ttf</string>
		<string>page-302.ttf</string>
		<string>page-303.ttf</string>
		<string>page-304.ttf</string>
		<string>page-305.ttf</string>
		<string>page-306.ttf</string>
		<string>page-307.ttf</string>
		<string>page-308.ttf</string>
		<string>page-309.ttf</string>
		<string>page-31.ttf</string>
		<string>page-310.ttf</string>
		<string>page-311.ttf</string>
		<string>page-312.ttf</string>
		<string>page-313.ttf</string>
		<string>page-314.ttf</string>
		<string>page-315.ttf</string>
		<string>page-316.ttf</string>
		<string>page-317.ttf</string>
		<string>page-318.ttf</string>
		<string>page-319.ttf</string>
		<string>page-32.ttf</string>
		<string>page-320.ttf</string>
		<string>page-321.ttf</string>
		<string>page-322.ttf</string>
		<string>page-323.ttf</string>
		<string>page-324.ttf</string>
		<string>page-325.ttf</string>
		<string>page-326.ttf</string>
		<string>page-327.ttf</string>
		<string>page-328.ttf</string>
		<string>page-329.ttf</string>
		<string>page-33.ttf</string>
		<string>page-330.ttf</string>
		<string>page-331.ttf</string>
		<string>page-332.ttf</string>
		<string>page-333.ttf</string>
		<string>page-334.ttf</string>
		<string>page-335.ttf</string>
		<string>page-336.ttf</string>
		<string>page-337.ttf</string>
		<string>page-338.ttf</string>
		<string>page-339.ttf</string>
		<string>page-34.ttf</string>
		<string>page-340.ttf</string>
		<string>page-341.ttf</string>
		<string>page-342.ttf</string>
		<string>page-343.ttf</string>
		<string>page-344.ttf</string>
		<string>page-345.ttf</string>
		<string>page-346.ttf</string>
		<string>page-347.ttf</string>
		<string>page-348.ttf</string>
		<string>page-349.ttf</string>
		<string>page-35.ttf</string>
		<string>page-350.ttf</string>
		<string>page-351.ttf</string>
		<string>page-352.ttf</string>
		<string>page-353.ttf</string>
		<string>page-354.ttf</string>
		<string>page-355.ttf</string>
		<string>page-356.ttf</string>
		<string>page-357.ttf</string>
		<string>page-358.ttf</string>
		<string>page-359.ttf</string>
		<string>page-36.ttf</string>
		<string>page-360.ttf</string>
		<string>page-361.ttf</string>
		<string>page-362.ttf</string>
		<string>page-363.ttf</string>
		<string>page-364.ttf</string>
		<string>page-365.ttf</string>
		<string>page-366.ttf</string>
		<string>page-367.ttf</string>
		<string>page-368.ttf</string>
		<string>page-369.ttf</string>
		<string>page-37.ttf</string>
		<string>page-370.ttf</string>
		<string>page-371.ttf</string>
		<string>page-372.ttf</string>
		<string>page-373.ttf</string>
		<string>page-374.ttf</string>
		<string>page-375.ttf</string>
		<string>page-376.ttf</string>
		<string>page-377.ttf</string>
		<string>page-378.ttf</string>
		<string>page-379.ttf</string>
		<string>page-38.ttf</string>
		<string>page-380.ttf</string>
		<string>page-381.ttf</string>
		<string>page-382.ttf</string>
		<string>page-383.ttf</string>
		<string>page-384.ttf</string>
		<string>page-385.ttf</string>
		<string>page-386.ttf</string>
		<string>page-387.ttf</string>
		<string>page-388.ttf</string>
		<string>page-389.ttf</string>
		<string>page-39.ttf</string>
		<string>page-390.ttf</string>
		<string>page-391.ttf</string>
		<string>page-392.ttf</string>
		<string>page-393.ttf</string>
		<string>page-394.ttf</string>
		<string>page-395.ttf</string>
		<string>page-396.ttf</string>
		<string>page-397.ttf</string>
		<string>page-398.ttf</string>
		<string>page-399.ttf</string>
		<string>page-4.ttf</string>
		<string>page-40.ttf</string>
		<string>page-400.ttf</string>
		<string>page-401.ttf</string>
		<string>page-402.ttf</string>
		<string>page-403.ttf</string>
		<string>page-404.ttf</string>
		<string>page-405.ttf</string>
		<string>page-406.ttf</string>
		<string>page-407.ttf</string>
		<string>page-408.ttf</string>
		<string>page-409.ttf</string>
		<string>page-41.ttf</string>
		<string>page-410.ttf</string>
		<string>page-411.ttf</string>
		<string>page-412.ttf</string>
		<string>page-413.ttf</string>
		<string>page-414.ttf</string>
		<string>page-415.ttf</string>
		<string>page-416.ttf</string>
		<string>page-417.ttf</string>
		<string>page-418.ttf</string>
		<string>page-419.ttf</string>
		<string>page-42.ttf</string>
		<string>page-420.ttf</string>
		<string>page-421.ttf</string>
		<string>page-422.ttf</string>
		<string>page-423.ttf</string>
		<string>page-424.ttf</string>
		<string>page-425.ttf</string>
		<string>page-426.ttf</string>
		<string>page-427.ttf</string>
		<string>page-428.ttf</string>
		<string>page-429.ttf</string>
		<string>page-43.ttf</string>
		<string>page-430.ttf</string>
		<string>page-431.ttf</string>
		<string>page-432.ttf</string>
		<string>page-433.ttf</string>
		<string>page-434.ttf</string>
		<string>page-435.ttf</string>
		<string>page-436.ttf</string>
		<string>page-437.ttf</string>
		<string>page-438.ttf</string>
		<string>page-439.ttf</string>
		<string>page-44.ttf</string>
		<string>page-440.ttf</string>
		<string>page-441.ttf</string>
		<string>page-442.ttf</string>
		<string>page-443.ttf</string>
		<string>page-444.ttf</string>
		<string>page-445.ttf</string>
		<string>page-446.ttf</string>
		<string>page-447.ttf</string>
		<string>page-448.ttf</string>
		<string>page-449.ttf</string>
		<string>page-45.ttf</string>
		<string>page-450.ttf</string>
		<string>page-451.ttf</string>
		<string>page-452.ttf</string>
		<string>page-453.ttf</string>
		<string>page-454.ttf</string>
		<string>page-455.ttf</string>
		<string>page-456.ttf</string>
		<string>page-457.ttf</string>
		<string>page-458.ttf</string>
		<string>page-459.ttf</string>
		<string>page-46.ttf</string>
		<string>page-460.ttf</string>
		<string>page-461.ttf</string>
		<string>page-462.ttf</string>
		<string>page-463.ttf</string>
		<string>page-464.ttf</string>
		<string>page-465.ttf</string>
		<string>page-466.ttf</string>
		<string>page-467.ttf</string>
		<string>page-468.ttf</string>
		<string>page-469.ttf</string>
		<string>page-47.ttf</string>
		<string>page-470.ttf</string>
		<string>page-471.ttf</string>
		<string>page-472.ttf</string>
		<string>page-473.ttf</string>
		<string>page-474.ttf</string>
		<string>page-475.ttf</string>
		<string>page-476.ttf</string>
		<string>page-477.ttf</string>
		<string>page-478.ttf</string>
		<string>page-479.ttf</string>
		<string>page-48.ttf</string>
		<string>page-480.ttf</string>
		<string>page-481.ttf</string>
		<string>page-482.ttf</string>
		<string>page-483.ttf</string>
		<string>page-484.ttf</string>
		<string>page-485.ttf</string>
		<string>page-486.ttf</string>
		<string>page-487.ttf</string>
		<string>page-488.ttf</string>
		<string>page-489.ttf</string>
		<string>page-49.ttf</string>
		<string>page-490.ttf</string>
		<string>page-491.ttf</string>
		<string>page-492.ttf</string>
		<string>page-493.ttf</string>
		<string>page-494.ttf</string>
		<string>page-495.ttf</string>
		<string>page-496.ttf</string>
		<string>page-497.ttf</string>
		<string>page-498.ttf</string>
		<string>page-499.ttf</string>
		<string>page-5.ttf</string>
		<string>page-50.ttf</string>
		<string>page-500.ttf</string>
		<string>page-501.ttf</string>
		<string>page-502.ttf</string>
		<string>page-503.ttf</string>
		<string>page-504.ttf</string>
		<string>page-505.ttf</string>
		<string>page-506.ttf</string>
		<string>page-507.ttf</string>
		<string>page-508.ttf</string>
		<string>page-509.ttf</string>
		<string>page-51.ttf</string>
		<string>page-510.ttf</string>
		<string>page-511.ttf</string>
		<string>page-512.ttf</string>
		<string>page-513.ttf</string>
		<string>page-514.ttf</string>
		<string>page-515.ttf</string>
		<string>page-516.ttf</string>
		<string>page-517.ttf</string>
		<string>page-518.ttf</string>
		<string>page-519.ttf</string>
		<string>page-52.ttf</string>
		<string>page-520.ttf</string>
		<string>page-521.ttf</string>
		<string>page-522.ttf</string>
		<string>page-523.ttf</string>
		<string>page-524.ttf</string>
		<string>page-525.ttf</string>
		<string>page-526.ttf</string>
		<string>page-527.ttf</string>
		<string>page-528.ttf</string>
		<string>page-529.ttf</string>
		<string>page-53.ttf</string>
		<string>page-530.ttf</string>
		<string>page-531.ttf</string>
		<string>page-532.ttf</string>
		<string>page-533.ttf</string>
		<string>page-534.ttf</string>
		<string>page-535.ttf</string>
		<string>page-536.ttf</string>
		<string>page-537.ttf</string>
		<string>page-538.ttf</string>
		<string>page-539.ttf</string>
		<string>page-54.ttf</string>
		<string>page-540.ttf</string>
		<string>page-541.ttf</string>
		<string>page-542.ttf</string>
		<string>page-543.ttf</string>
		<string>page-544.ttf</string>
		<string>page-545.ttf</string>
		<string>page-546.ttf</string>
		<string>page-547.ttf</string>
		<string>page-548.ttf</string>
		<string>page-549.ttf</string>
		<string>page-55.ttf</string>
		<string>page-550.ttf</string>
		<string>page-551.ttf</string>
		<string>page-552.ttf</string>
		<string>page-553.ttf</string>
		<string>page-554.ttf</string>
		<string>page-555.ttf</string>
		<string>page-556.ttf</string>
		<string>page-557.ttf</string>
		<string>page-558.ttf</string>
		<string>page-559.ttf</string>
		<string>page-56.ttf</string>
		<string>page-560.ttf</string>
		<string>page-561.ttf</string>
		<string>page-562.ttf</string>
		<string>page-563.ttf</string>
		<string>page-564.ttf</string>
		<string>page-565.ttf</string>
		<string>page-566.ttf</string>
		<string>page-567.ttf</string>
		<string>page-568.ttf</string>
		<string>page-569.ttf</string>
		<string>page-57.ttf</string>
		<string>page-570.ttf</string>
		<string>page-571.ttf</string>
		<string>page-572.ttf</string>
		<string>page-573.ttf</string>
		<string>page-574.ttf</string>
		<string>page-575.ttf</string>
		<string>page-576.ttf</string>
		<string>page-577.ttf</string>
		<string>page-578.ttf</string>
		<string>page-579.ttf</string>
		<string>page-58.ttf</string>
		<string>page-580.ttf</string>
		<string>page-581.ttf</string>
		<string>page-582.ttf</string>
		<string>page-583.ttf</string>
		<string>page-584.ttf</string>
		<string>page-585.ttf</string>
		<string>page-586.ttf</string>
		<string>page-587.ttf</string>
		<string>page-588.ttf</string>
		<string>page-589.ttf</string>
		<string>page-59.ttf</string>
		<string>page-590.ttf</string>
		<string>page-591.ttf</string>
		<string>page-592.ttf</string>
		<string>page-593.ttf</string>
		<string>page-594.ttf</string>
		<string>page-595.ttf</string>
		<string>page-596.ttf</string>
		<string>page-597.ttf</string>
		<string>page-598.ttf</string>
		<string>page-599.ttf</string>
		<string>page-6.ttf</string>
		<string>page-60.ttf</string>
		<string>page-600.ttf</string>
		<string>page-601.ttf</string>
		<string>page-602.ttf</string>
		<string>page-603.ttf</string>
		<string>page-604.ttf</string>
		<string>page-61.ttf</string>
		<string>page-62.ttf</string>
		<string>page-63.ttf</string>
		<string>page-64.ttf</string>
		<string>page-65.ttf</string>
		<string>page-66.ttf</string>
		<string>page-67.ttf</string>
		<string>page-68.ttf</string>
		<string>page-69.ttf</string>
		<string>page-7.ttf</string>
		<string>page-70.ttf</string>
		<string>page-71.ttf</string>
		<string>page-72.ttf</string>
		<string>page-73.ttf</string>
		<string>page-74.ttf</string>
		<string>page-75.ttf</string>
		<string>page-76.ttf</string>
		<string>page-77.ttf</string>
		<string>page-78.ttf</string>
		<string>page-79.ttf</string>
		<string>page-8.ttf</string>
		<string>page-80.ttf</string>
		<string>page-81.ttf</string>
		<string>page-82.ttf</string>
		<string>page-83.ttf</string>
		<string>page-84.ttf</string>
		<string>page-85.ttf</string>
		<string>page-86.ttf</string>
		<string>page-87.ttf</string>
		<string>page-88.ttf</string>
		<string>page-89.ttf</string>
		<string>page-9.ttf</string>
		<string>page-90.ttf</string>
		<string>page-91.ttf</string>
		<string>page-92.ttf</string>
		<string>page-93.ttf</string>
		<string>page-94.ttf</string>
		<string>page-95.ttf</string>
		<string>page-96.ttf</string>
		<string>page-97.ttf</string>
		<string>page-98.ttf</string>
		<string>page-99.ttf</string>
		<string>Prompt-Black.ttf</string>
		<string>Prompt-Bold.ttf</string>
		<string>Prompt-ExtraBold.ttf</string>
		<string>Prompt-ExtraLight.ttf</string>
		<string>Prompt-Light.ttf</string>
		<string>Prompt-Medium.ttf</string>
		<string>Prompt-Regular.ttf</string>
		<string>Prompt-SemiBold.ttf</string>
		<string>Prompt-Thin.ttf</string>
		<string>titles.ttf</string>
		<string>Uthmanic.ttf</string>
		<string>UthmanicHafs1 Ver18.ttf</string>
		<string>UthmanicHafs1.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
